@model HotelCc.Models.Reserva

@{
    ViewData["Title"] = "Nueva Reserva";
}

<div class="container mt-5">

    <div class="card shadow border-0 rounded-4">

        <div class="card-body p-4">

            <h2 class="text-primary mb-4">
                🏨 Nueva Reserva
            </h2>

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }

            <form asp-action="Create">

                <div class="mb-3">

                    <label class="form-label">
                        Usuario
                    </label>

                    <select asp-for="UsuarioId"
                            class="form-select"
                            asp-items="ViewBag.UsuarioId">
                    </select>

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Habitación
                    </label>

                    <select asp-for="HabitacionId"
                            class="form-select"
                            asp-items="ViewBag.HabitacionId">
                    </select>

                    <small class="text-muted">
                        1er Piso = S/100 |
                        2do Piso = S/200 |
                        3er Piso = S/350
                    </small>

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Fecha Entrada
                    </label>

                    <input asp-for="FechaEntrada"
                           type="date"
                           class="form-control" />

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Fecha Salida
                    </label>

                    <input asp-for="FechaSalida"
                           type="date"
                           class="form-control" />

                </div>

                <button type="submit"
                        class="btn btn-primary">

                    Guardar Reserva

                </button>

            </form>

        </div>

    </div>

</div>