@model List<HotelCc.Models.HabitacionEstadoViewModel>

<table class="table table-hover">

    <thead>
        <tr>
            <th>Número</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Numero</td>
                <td>@item.Tipo</td>
                <td>S/ @item.Precio</td>
                <td>

                    @if (item.Estado == "Disponible")
                    {
                        <span class="badge bg-success">
                            Disponible
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-danger">
                            Ocupada
                        </span>
                    }

                </td>
            </tr>
        }

    </tbody>

</table>